{% extends 'base.html' %}

{% block title %} Diagnosis Result {% endblock %}

{% block content %}
<div class="col-6">
    testing
</div>
<div class="col-6">
    {% if results %}
    {% for result in results %}
    <div class="accordion" id="{{result['disease'].id}}">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">{{result['disease'].name}}</button>
            </h2>
            <div class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                hehehaha
            </div>
        </div>
    </div>
</div>
{% endblock %}