{% extends 'base.html' %}

{% block title %} Diagnosis Result {% endblock %}

{% block content %}
<div class="col-6">
    testing
</div>
<div class="col-6">
    {% if results %}
    <div class="accordion" id="diagnosisResults">
        {% for result in results %}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#result{{result.id}}" aria-expanded="false"
                    aria-controls="result{{result.id}}"><strong>{{result.name}}</strong></button>
            </h2>
            <div id="result{{result.id}}" class="accordion-collapse collapse" data-bs-parent="#diagnosisResults">
                <div class="accordion-body">
                    <div class="border-bottom mb-3 pb-2">
                        <strong style="color: rgba(73, 69, 79, 0.8)">Description<br /></strong>
                        {{result.description}}
                    </div>
                    <div class="border-bottom mb-3 pb-2">
                        <strong style="color: rgba(73, 69, 79, 0.8)">Symptom<br /></strong>
                        {{result.symptom}}
                    </div>
                    <div class="border-bottom pb-2">
                        <strong style="color: rgba(73, 69, 79, 0.8)">Cause<br /></strong>
                        {{result.cause}}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}