<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/static/bootstrapcss.css">
    <link rel="stylesheet" href="/static/custom.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-9"><img src="/static/media/fyplogo.png" width="25%"></div>
            <div class="col-4"><img src="/static/media/login.jpeg" width="100%" height="100%"></div>
            <div class="col-6 ms-3">
                <h2 style="color: #2F3367" class="fw-bold mb-4">Login</h2>
                <form>
                    <input class="form-control mb-3" type="text" placeholder="Phone Number">
                    <input class="form-control mb-3" type="password" placeholder="Password">
                    <div class="d-grid mb-3">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
                <div class="d-flex flex-row justify-content-between">
                    <p style="color: #4C4F7C;font-size: small;">Don't have an account?</p>
                    <a class="fw-bold text-decoration-none" style="color: #007DFA;font-size: small;">Sign up a new
                        account</a>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/bootstrap.bundle.js"></script>
    <script src="/static/popper.js"></script>
</body>

</html>