{% extends 'base.html' %}

{% block title %} Mapbox API {% endblock %}

{% block head%}
<link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">
<!-- <link href="https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.css" rel="stylesheet"> -->
<link rel="stylesheet"
    href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
<style>
    #map {
        width: 100%;
    }

    .dental {
        background-image: url('static/media/dental.png');
        background-size: cover;
        width: 30px;
        height: 30px;
        border-radius: 5px;
        cursor: pointer;
    }

    .derma {
        background-image: url('static/media/derma.png');
        background-size: cover;
        width: 30px;
        height: 30px;
        border-radius: 5px;
        cursor: pointer;
    }
</style>
{% endblock %}

{% block content %}
<!-- Load the `mapbox-gl-geocoder` plugin. -->

<div id="map"></div>


<script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.1/mapbox-gl-directions.js"></script>
<link rel="stylesheet"
    href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.1/mapbox-gl-directions.css"
    type="text/css">
<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiaGVsbG9zcyIsImEiOiJjbGwzdjJ2bGowMDdhM2RtcTk4bWpka2w3In0.Tlw0fp3fGfNrgzYQKlWDqw';
    const map = new mapboxgl.Map({
        container: 'map',
        // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
        style: 'mapbox://styles/mapbox/streets-v12',
        // center: [101.6942, 3.1390],
        zoom: 13
    });

    const defaultAddress = '{{address}}';
    // console.log(defaultAddress)
    // Use Mapbox Geocoding API to fetch coordinates based on default address
    fetch(`https://api.mapbox.com/geocoding/v5/mapbox.places/${defaultAddress}.json?limit=2&access_token=${mapboxgl.accessToken}`)
        .then(response => response.json())
        .then(data => {
            const coordinates = data.features[0].center; // Get the first result's coordinates
            // console.log(coordinates)
            map.setCenter(coordinates);
        })
        .catch(error => console.error(error));

    // Add the control to the map.
    map.addControl(
        new MapboxGeocoder({
            accessToken: mapboxgl.accessToken,
            mapboxgl: mapboxgl,
            countries: 'MY', // Specify Malaysia as the country
        })
    );

    const dermatologyClinics = [
        {
            name: 'Dermalene Skin Centre - Kota Damansara',
            coordinates: [101.595620, 3.154990],
            address: "A-3A-G Blok A, Sunway Giza, Jalan PJU 5/14, Kota Damansara, 47810 Petaling Jaya, Selangor",
            phone: "012-677 8721"
        },
        {
            name: 'Gan Ain Tian',
            coordinates: [101.712380, 3.159050],
            address: "Gleneagies Hospital, 282 & 286, Jalan Ampang, Malaysia, 50450 Kuala Lumpur",
            phone: "03-4141 3228"
        },
        {
            name: 'H-II Clinic Melawati (H2 Clinic)',
            coordinates: [101.757420, 3.205010],
            address: "10-1 Jalan Lingkaran Tengah 2 Ukay Boulevard, Ulu Kelang, 68000 Ampang Jaya, Selangor",
            phone: "017-871 9899"
        },
    ];

    const dentistClinics = [
        {
            name: 'Klinik Pergigian Prosmile Dental (Melawati) Invisalign & Zenyum Provider',
            coordinates: [101.710920, 3.236500],
            address: "214 & 215, Jalan Negara 2, Taman Melawati, 53100 Kuala Lumpur, Selangor",
            phone: "03-4162 6862"
        },
        {
            name: 'Toothland Dental Setapak',
            coordinates: [101.725090, 3.191280],
            address: "31G, Jalan 1/27b, Desa Setapak, 53300 Kuala Lumpur, Wilayah Persekutuan Kuala Lumpur",
            phone: "012-454 3392"
        },
        {
            name: 'Klinik Pergigian myDental@Melati',
            coordinates: [101.73104, 3.2231076],
            address: "61-G, Jalan Melati Utama 4, Melati Utama, 53100 Kuala Lumpur, Wilayah Persekutuan Kuala Lumpur",
            phone: "010-663 3613"

        },
    ];

    function createPopupContent(clinic) {
        return `
                <div class="popup-container">
                    <div class="popup-title"><h6>${clinic.name}</h6></div>
                    <div class="popup-address"><strong>Address: </strong>${clinic.address}</div>
                    <div class="popup-phone"><strong>Phone: </strong>${clinic.phone}</div>
                </div>
            `;
    }

    // Function to add a marker for a clinic
    function addDental(clinic) {
        const dentalM = document.createElement('div');
        dentalM.className = 'dental';
        const popupContent = createPopupContent(clinic);
        new mapboxgl.Marker(dentalM)
            .setLngLat(clinic.coordinates)
            .setPopup(new mapboxgl.Popup().setHTML(popupContent))
            .addTo(map);
    }

    function addDerma(clinic) {
        const dermaM = document.createElement('div');
        dermaM.className = 'derma';
        const popupContent = createPopupContent(clinic);
        new mapboxgl.Marker(dermaM)
            .setLngLat(clinic.coordinates)
            .setPopup(new mapboxgl.Popup().setHTML(popupContent))
            .addTo(map);
    }

    // Add markers for dermatology clinics
    dermatologyClinics.forEach(addDerma);

    // Add markers for dentist clinics
    dentistClinics.forEach(addDental);

    // Add geolocate control to the map.
    map.addControl(
        new mapboxgl.GeolocateControl({
            // When active the map will receive updates to the device's location as it changes.
            trackUserLocation: true,
            // Draw an arrow next to the location dot to indicate which direction the device is heading.
            showUserHeading: true,
            showAccuracyCircle: false
        }),
        'bottom-right'
    );

    map.addControl(
        new MapboxDirections({
            accessToken: mapboxgl.accessToken,
            unit: 'metric',
            // profile: 'mapbox/walking',
            alternatives: false,
            interactive: true,
        }),
        'top-left'
    );
</script>
{% endblock %}