body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input, textarea {
  background-color: #faf8f8 !important;
}

::placeholder {
  color: #8B8FA8 !important;
  font-size: small;
}
